.form {
  width: 540px;
  margin-left: 30px;
}

@media screen and (max-width: 1279px) {
  .form {
    width: 100%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    margin-left: 0;
  }
}