.video__background {
  width: 920px;
  height: 479px;
  background-image: url(../../../images/video-background-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -170px;
  position: relative;
  top: 240px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1279px) {
  .video__background {
    width: 730px;
    height: 379px;
  }
}

@media screen and (max-width: 1023px) {
  .video__background {
    width: 530px;
    height: 320px;
    top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .video__background {
    width: 320px; 
    height: 200px;
  }
}