.header {
  width: calc(100% - 2*60px);
  margin: 60px auto;
}

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 2*20px);
    margin-bottom: 20px;
  }
}