.header__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  column-gap: 30px;
}

@media screen and (max-width: 1023px) {
  .header__grid-container {
    column-gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header__grid-container {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-top: 30px;
  }
}