.description__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 1023px) {
  .description__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .description__title {
    margin-left: 0;
    font-size: 12px;
  }
}