.header__menu-link {
  text-decoration: none;
  border-bottom-width: 0;
  color: #000;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.24;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}


.header__menu-link:hover {
  color: #D1A954;
  border-bottom: 2px solid #D1A954
}

@media screen and (max-width: 1023px) {
  .header__menu-link {
    font-size: 9px;
  }
}